$color-body: hsla(227, 12%, 15%, 1);
$color-light: hsl(0, 0%, 95%);
$color-alt: hsl(0, 100%, 50%);
$font-family-base: "system-ui";
$font-base: 16px;

html {
  font-size: $font-base;
}

body {
  padding: 3rem 5rem;
  background-color: $color-body;
  color: $color-light;
  font-family: $font-family-base;
  .featured {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: $color-light;
    border-radius: 4px;
    color: $color-alt;
    font-size: $font-base * 1.2;
    font-weight: 900;
  }
}

button {
  padding: 0.5rem 1rem;
  background-color: hsl(0, 0%, 80%);
  border: none;
  border-radius: 6px;
  font-size: inherit;
  font-weight: 700;
  cursor: pointer;
  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}
